@use "../../styles/global.scss" as *;

.projectModal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  .projectModal_dim {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1px);
  }
  .projectModal_contentWrap {
    position: relative;
    width: vw(1200);
    height: vw(850);
    background-color: #ededed;
    border: vw(3) solid #cacaca;
    border-radius: vw(20);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .projectModal_titleBar {
      flex-shrink: 0;
      width: 100%;
      height: vw(48);
      background-color: #dfe5e7;
      display: flex;
      align-items: center;
      gap: vw(20);
      .titleBarControls {
        margin-left: vw(20);
        display: flex;
        gap: vw(8);
        li {
          width: vw(18);
          height: vw(18);
          border: vw(2) solid #000;
          border-radius: 100%;
          &:nth-child(1) {
            background-color: #f95c5c;
            border-color: #db5555;
            cursor: pointer;
          }
          &:nth-child(2) {
            background-color: #f9e32e;
            border-color: #dbc82e;
          }
          &:nth-child(3) {
            background-color: #6dd06b;
            border-color: #64b863;
          }
        }
      }
      .titleBarText {
        font-size: vw(18);
        font-weight: 500;
        color: #5e5e5e;
      }
    }

    .projectModal_body {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .webAppDetail,
      .videoDetail {
        width: vw(1100);
        .detailInfo {
          .detailTitle {
            span {
              border-radius: vw(20);
              padding: vw(2) vw(8);
              font-size: vw(14);
              font-weight: 400;
              background-color: $white;
            }
            h4 {
              margin-top: vw(8);
              font-family: "SBAggro";
              font-size: vw(30);
              font-weight: 500;
              color: $black;
            }
          }
        }
        .detailBody {
          width: 100%;
          margin-top: vw(20);
          .bodyLine {
            display: block;
            width: 100%;
            height: vw(1);
            background-color: #d0d0d0;
            margin-bottom: vw(20);
          }
        }
      }

      .webAppDetail {
        .detailInfo {
          .detailDesc {
            margin-top: vw(20);
            display: flex;
            justify-content: space-between;
            align-items: end;
            .detailItem {
              font-size: vw(16);
              color: #b5b5b5;
              .itemWrap {
                display: flex;
                gap: vw(10);
                &:first-child {
                  h5 {
                    margin-bottom: vw(10);
                  }
                }
                h5 {
                  font-weight: 700;
                }
                p {
                  font-weight: 400;
                }
                .pagesDesc {
                  display: flex;
                  flex-direction: column;
                  gap: vw(4);
                }
              }
            }
            .detailLinks {
              display: flex;
              flex-direction: column;
              gap: vw(8);
              .linkRow {
                display: flex;
                gap: vw(4);

                &.rowTop {
                  width: vw(260);
                  .linkBtn {
                    font-weight: 400;
                    color: #b5b5b5;
                    border-color: #b5b5b5;
                    &:hover {
                      color: $black;
                      border-color: $black;
                      background-color: transparent;
                    }
                  }
                }
                &.rowBottom {
                  width: vw(260);
                }

                .linkBtn {
                  flex: 1;
                  height: vw(40);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: vw(10);
                  border: vw(1) solid $black;
                  border-radius: vw(50);
                  font-size: vw(16);
                  font-weight: 600;
                  transition: all 0.25s ease;
                  &:hover {
                    border-color: $gray;
                    background-color: $gray;
                  }
                  &.is-proposal01 {
                    color: $black;
                    border-color: $black;
                    font-weight: 600;
                    &:hover {
                      border-color: $gray;
                      background-color: $gray;
                    }
                  }
                }
              }
            }
          }
        }
        .detailBody {
          .videoWrap {
            margin: 0 auto;
            img,
            video {
              width: 100%;
            }
          }
        }
      }

      .videoDetail {
        .detailInfo {
          .detailDesc {
            margin-top: vw(10);
            display: flex;
            flex-direction: column;
            gap: vw(2);
            p {
              color: #b5b5b5;
              font-size: vw(16);
              font-weight: 400;
            }
          }
        }

        .detailBody {
          .youtubeWrap {
            margin: 0 auto;
            width: vw(960);
            aspect-ratio: 16 / 9;
            overflow: hidden;
            iframe {
              width: 100%;
              height: 100%;
              border: 0;
              outline: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .projectModal {
    .projectModal_contentWrap {
      width: 90%;
      height: auto;
      border: 2px solid #cacaca;
      border-radius: 10px;
      .projectModal_titleBar {
        height: 36px;
        gap: 14px;
        .titleBarControls {
          margin-left: 10px;
          gap: 6px;
          li {
            width: 16px;
            height: 16px;
            border: 1px solid #000;
          }
        }
        .titleBarText {
          font-size: 14px;
        }
      }
      .projectModal_body {
        padding: 30px 0;
        .webAppDetail,
        .videoDetail {
          width: 94%;
          .detailInfo {
            .detailTitle {
              span {
                border-radius: 10px;
                padding: 1px 6px;
                font-size: 10px;
              }
              h4 {
                margin-top: 6px;
                font-size: 22px;
              }
            }
          }
          .detailBody {
            margin-top: 30px;
            .bodyLine {
              height: 1px;
              margin-bottom: 20px;
            }
          }
        }

        .webAppDetail {
          .detailInfo {
            .detailDesc {
              margin-top: 20px;
              gap: 24px;
              .detailItem {
                font-size: 14px;
                .itemWrap {
                  gap: 10px;
                  &:first-child {
                    h5 {
                      margin-bottom: 12px;
                    }
                  }
                  .pagesDesc {
                    gap: 6px;
                  }
                }
              }
              .detailLinks {
                gap: 6px;
                .linkRow {
                  gap: 4px;
                  &.rowTop {
                    width: 200px;
                  }
                  &.rowBottom {
                    width: 200px;
                  }

                  .linkBtn {
                    height: 30px;
                    gap: 10px;
                    border: 1px solid $black;
                    border-radius: 50px;
                    font-size: 12px;
                    transition: none;
                  }
                }
              }
            }
          }
        }

        .videoDetail {
          .detailInfo {
            .detailDesc {
              margin-top: 10px;
              display: block;
              p {
                display: inline;
                font-size: 14px;
                &::after {
                  content: " ";
                }
              }
            }
          }

          .detailBody {
            .youtubeWrap {
              width: 90%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .projectModal {
    .projectModal_contentWrap {
      .projectModal_body {
        padding: 20px 0;

        .webAppDetail {
          .detailInfo {
            .detailDesc {
              margin-top: 20px;
              flex-direction: column;
              gap: 24px;
              align-items: start;

              .detailLinks {
                width: 100%;
                .linkRow {
                  &.rowTop {
                    width: 100%;
                  }
                  &.rowBottom {
                    width: 100%;
                  }

                  .linkBtn {
                    height: 36px;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }

        .videoDetail {
          .detailInfo {
            .detailDesc {
              margin-top: 20px;
              p {
                line-height: 160%;
              }
            }
          }

          .detailBody {
            .youtubeWrap {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
