@use "../../styles/global.scss" as *;

.project {
  background-color: $black;
  .projectSection {
    width: 100%;
    height: 100vh;
    padding-top: vw(80);
    position: relative;

    &.web {
      .projectSwiper {
        padding-top: vw(180);
        margin-left: vw(260);
      }
    }
    &.video {
      .projectSwiper {
        padding-top: vw(170);
        margin-left: vw(260);
      }
      .inner {
        .swiper-bar {
          bottom: vw(-40);
        }
      }
    }

    .inner {
      position: relative;
      .swiper-bar {
        position: absolute;
        left: 50%;
        bottom: vw(-50);
        transform: translateX(-50%);
        width: 100%;
        height: vw(6);
        background-color: $yellow-T;

        .bar-line {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
        }

        .bar-dot {
          position: absolute;
          top: 50%;
          left: 0%;
          transform: translate(-50%, -50%);
          width: vw(20);
          height: vw(20);
          background-color: $yellow-T;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }
  .divider {
    height: vw(60);
  }
}
