/* Light (300) */
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("/fonts/Pretendard-Light.woff2") format("woff2");
}

/* Regular (400) */
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
}

/* Medium (500) */
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("/fonts/Pretendard-Medium.woff2") format("woff2");
}

/* SemiBold (600) */
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("/fonts/Pretendard-SemiBold.woff2") format("woff2");
}

/* Bold (700) */
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("/fonts/Pretendard-Bold.woff2") format("woff2");
}

/* Muro (400) */
@font-face {
  font-family: "Muro";
  font-weight: 400;
  src: url("/fonts/Muro-Regular.woff2") format("woff2");
}

/* SBAggro Light (300) */
@font-face {
  font-family: "SBAggro";
  font-weight: 300;
  src: url("/fonts/SBAggroL.woff2") format("woff2");
}

/* SBAggro Medium (500) */
@font-face {
  font-family: "SBAggro";
  font-weight: 500;
  src: url("/fonts/SBAggroM.woff2") format("woff2");
}

/* SBAggro Bold (700) */
@font-face {
  font-family: "SBAggro";
  font-weight: 700;
  src: url("/fonts/SBAggroB.woff2") format("woff2");
}

/* DOSGothic (400) */
@font-face {
  font-family: "DOSGothic";
  font-weight: 400;
  src: url("/fonts/DOSGothic.woff2") format("woff2");
}

/* DOSIyagi (400) */
@font-face {
  font-family: "DOSIyagi";
  font-weight: 400;
  src: url("/fonts/DOSIyagiMedium.woff2") format("woff2");
}
