@use "../../styles/global.scss" as *;

.home {
  width: 100%;
  height: 100vh;
  position: relative;

  .section-divider {
    width: 100%;
    height: vw(75);
    background-image: url("/images/about-contact/about_bottom.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    margin-top: vw(64);
  }
}
